<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/datas/bootstrap/css/bootstrap.css" />
    <include path="~/css/animate.css"/>
    <include path="~/css/magnific-popup.css"/>
    <include path="~/css/font-awesome.min.css"/>
    <include path="~/css/hover-min.css"/>
    <include path="~/plugins/payonline-icon/style.css"/>
    <include path="~/plugins/bands-icon/style.css"/>
    <include path="~/css/owl.carousel.css"/>
    <include path="~/css/owl.theme.default.min.css"/>
    <include path="~/css/bootstrap-select.min.css"/>
    <include path="~/css/jquery.bxslider.min.css"/>
    <include path="~/css/style.css"/>
    <include path="~/css/responsive.css"/>
    <!--<include path="~/Content/Site.css" />-->
  </styleBundle>
</bundles>